.input{
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #fbfafa;
}
.input:focus{
    outline: 0;
}

.textareaSection{
    background: #fbfafa;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px 10px;
    margin: 20px 0;
}

.textarea{
    padding: 10px;
    height: 100%;
    border: 0;
    background-color: #fbfafa;
    resize: none;
}
.textarea:focus{
    outline: 0;
}

.textareaBottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button{
    background-color: #2ecc71;
    color: #fbfafa;
    font-weight: bold;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 33%);
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
}