html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }

.custom-radios {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-radios div {
    display: inline-block;
}
.custom-radios input[type="radio"] {
    display: none;
}

.custom-radios label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.custom-radios span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 30px;
}
.custom-radios label img {
    opacity: 0;
    transition: all .3s ease;
}

input:checked + label span img {
    opacity: 1;
}