html{
  background-color: #eaeaea;
  box-sizing: border-box;
}
html,
body,
#root{
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.notes-app{
  text-align: center;
}